rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Calculators instructional images and metadata
    match /calculators/{calculatorId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
